<div class="ui fluid container">
  <div class="left menu">
    <a class="ui item icon sidebar-toggle-button" {{action 'toggleSidebar'}}>
      <i class="content icon"></i>
    </a>
    <div class="header item">
      {{title}}
    </div>
  </div>
  <div class="right menu">
    {{yield}}
    {{z-context-menu}}
  </div>
</div>
